@{ 
    var url = "";
}

<ul class="navbar-nav flex-grow-1">
    <!-- NAVBAR -->
    @if (User.FindFirstValue(ClaimTypes.Role) == "RHU")
    {
        url = "https://www.youtube.com/watch?v=iZMMzaqHESQ&list=PLkVicRlMPdMzDSQ2imtZL2oyzQwLfuaz3&index=1";
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Sop" asp-action="SopIndex">
                <i class="fa fa-home"></i>
                &nbsp;Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Sop" asp-action="Patients">
                <i class="fa fa-user-injured"></i>
                &nbsp;Patients
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Sop" asp-action="SampleStatus">
                <i class="far fa-file-alt"></i>
                &nbsp;Results
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-file-excel"></i>
                &nbsp;Files
            </a>
            <ul class="dropdown-menu border-0 shadow">
                <li>
                    <a class="dropdown-item" asp-controller="Sop" asp-action="UploadLineList">
                        <i class="fas fa-file-upload"></i>
                        &nbsp;Upload
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Sop" asp-action="ExportAll">
                        <i class="fas fa-download"></i>
                        &nbsp;Download
                    </a>
                </li>
                @*
                    <li>
                        <a class="dropdown-item" asp-controller="Sop" asp-action="Released">
                            <i class="fas fa-ambulance"></i>
                            &nbsp;Released
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Sop" asp-action="Processing">
                            <i class="fas fa-ambulance"></i>
                            &nbsp;Processing
                        </a>
                    </li>*@
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Sop" asp-action="DownloadApp">
                        <i class="fas fa-download"></i>
                        &nbsp;Download App
                    </a>
                </li>
            </ul>
        </li>
    }

    @if (User.FindFirstValue(ClaimTypes.Role) == "PESU")
    {
        url = "https://www.youtube.com/watch?v=A_ajc03RUmE&list=PLkVicRlMPdMzDSQ2imtZL2oyzQwLfuaz3&index=4";
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Pesu" asp-action="Status">
                <i class="fa fa-home"></i>
                &nbsp;Home
            </a>
        </li>
    }

    @if (User.FindFirstValue(ClaimTypes.Role) == "RESU")
    {
        url = "https://www.youtube.com/watch?v=-01KaNWbKDU&list=PLkVicRlMPdMzDSQ2imtZL2oyzQwLfuaz3&index=3";
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Resu" asp-action="ResuIndex">
                <i class="fa fa-home"></i>
                &nbsp;Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Resu" asp-action="ResuStatus">
                <i class="far fa-file-alt"></i>
                &nbsp;Results
            </a>
        </li>
    }

    @if (User.FindFirstValue(ClaimTypes.Role) == "LAB")
    {
        url = "https://www.youtube.com/watch?v=aPCKfMgfm4Q&list=PLkVicRlMPdMzDSQ2imtZL2oyzQwLfuaz3&index=2";
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Result" asp-action="LabIndex">
                <i class="fa fa-home"></i>
                &nbsp;Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Result" asp-action="ArchivedIndex">
                <i class="far fa-file-alt"></i>
                &nbsp;Completed
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Result" asp-action="LabUsers">
                <i class="fa fa-user-md"></i>
                &nbsp;Staff
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Result" asp-action="ExportAll">
                <i class="fas fa-file-download"></i>
                &nbsp;Line List
            </a>
        </li>
        <!-- MANAGE -->
        @*<li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-injured"></i>
                    &nbsp;Patient
                </a>

                <ul class="dropdown-menu border-0 shadow">
                    <li>

                        <a class="dropdown-item" asp-controller="Admission" asp-action="Index">
                            <i class="fas fa-procedures"></i>
                            &nbsp;Admit
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Discharge" asp-action="Index">
                            <i class="fas fa-ambulance"></i>
                            &nbsp;Discharge
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Patients" asp-action="Excel">
                            <i class="fas fa-upload"></i>
                            &nbsp;Upload
                        </a>
                    </li>
                </ul>
            </li>*@
    }


    @if (User.FindFirstValue(ClaimTypes.Role) == "admin")
    {
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                <i class="fa fa-home"></i>
                &nbsp;Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Patients">
                <i class="fa fa-user-injured"></i>
                &nbsp;Patients
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Facilities">
                <i class="fa fa-hospital"></i>
                &nbsp;Facilities
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-users"></i>
                &nbsp;Users
            </a>

            <ul class="dropdown-menu border-0 shadow">
                <li>

                    <a class="dropdown-item" asp-controller="Admin" asp-action="RhuUsers">
                        <i class="fas fa-procedures"></i>
                        &nbsp;RHU
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="PesuUsers">
                        <i class="fas fa-ambulance"></i>
                        &nbsp;PESU
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="ResuUsers">
                        <i class="fas fa-upload"></i>
                        &nbsp;RESU
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="LabUsers">
                        <i class="fa fa-hospital"></i>
                        &nbsp;LAB
                    </a>
                </li>
            </ul>
        </li>
    }

    <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
            &nbsp;Account
        </a>

        <ul class="dropdown-menu border-0 shadow">
            <li>
                <a class="dropdown-item" href="@url" target="_blank">
                    <i class="fab fa-youtube"></i>
                    &nbsp;Video tutorial
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="https://drive.google.com/file/d/1ydgfaK-kWLRh5pZghJxz6u0IONV3LCNt/view?fbclid=IwAR2mzDOZoIUpAoaUpOirXAqZfZH_YYKXvFlf9G9eBEF_tMkQAvuhBPSYe3E" target="_blank">
                    <i class="fas fa-file-pdf"></i>
                    &nbsp;PDF Manual
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="https://drive.google.com/file/d/1zXam6zU8I-r-qy9VMKy9ghRrtbRKJek0/view?fbclid=IwAR29ljWuIcI0246A-F-FH6BQ8o-68EwRq9kH7HHFKDMwyN4e9EnEDnmoejI" target="_blank">
                    <i class="fas fa-file-upload"></i>
                    &nbsp;Incident Report
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                    <i class="fa fa-sign-out-alt"></i>
                    &nbsp;Logout
                </a>
            </li>
        </ul>
    </li>
</ul>