<ul class="navbar-nav flex-grow-1">
    <!-- NAVBAR -->
    @if (User.FindFirstValue(ClaimTypes.Role) == "user")
    {
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Index">
                <i class="fa fa-home"></i>
                &nbsp;Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Activities">
                <i class="fas fa-hospital"></i>
                &nbsp;Activities
            </a>
        </li>
        <!-- MANAGE -->
        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-injured"></i>
                &nbsp;Patient
            </a>

            <ul class="dropdown-menu border-0 shadow">
                <li>

                    <a class="dropdown-item" asp-controller="Admission" asp-action="Index">
                        <i class="fas fa-procedures"></i>
                        &nbsp;Admit
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Discharge" asp-action="Index">
                        <i class="fas fa-ambulance"></i>
                        &nbsp;Discharge
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Patients" asp-action="Excel">
                        <i class="fas fa-upload"></i>
                        &nbsp;Upload
                    </a>
                </li>
            </ul>
        </li>
    }


    @if (User.FindFirstValue(ClaimTypes.Role) == "admin")
    {
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                <i class="fa fa-home"></i>
                &nbsp;Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Users">
                <i class="fa fa-user-md"></i>
                &nbsp;Users
            </a>
        </li>
    }
    <li class="nav-item fa-pull-right">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
            <i class="fa fa-sign-out-alt"></i>
            &nbsp;Logout
        </a>
    </li>
</ul>