
<div class="overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-2x fa-sync fa-spin"></i>
</div>
<div class="modal-content">
    <div class="modal-header">
        <br />
    </div>
    <div class="modal-body">
        <br />
        <br />
        <br />
    </div>
    <div class="modal-footer">
        <br />
    </div>
</div>