@model AddPatientModel
@{
    var disabled = Model.Disabled ? "true" : "";
}


<div class="modal-header">
    <h4>
        <i class="fa fa-user-plus"></i>
        &nbsp;Add new Patient
    </h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>
</div>
<form asp-controller="Sop" asp-action="AddPatient" onsubmit="return jQueryAjaxPost(this, 'sop_patients')">
    <div class="modal-body">
        <!-- INFO -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        First name:
                    </label>
                    <input class="form-control" asp-for="Fname" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Middle name:
                    </label>
                    <input class="form-control" asp-for="Mname" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Last name:
                    </label>
                    <input class="form-control" asp-for="Lname" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Date of Birth:
                    </label>
                    <input type="date" class="form-control" asp-for="Dob" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Sex:
                    </label>
                    <select class="form-control" asp-for="Sex">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" id="patient_address">
                <!-- CURRENT ADDRESS -->
                <fieldset style="border-color:black; width: 100%; border:double; padding:10px">
                    <legend style="font-size:small;text-align:center">Current Address</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    City/Municipality:
                                </label>
                                <select id="muncityFilters"
                                        asp-for="CurrentMuncity"
                                        asp-items="ViewBag.Muncity"
                                        title="City/Municipality"
                                        class="form-control col-sm-12"
                                        onchange="MuncityOnChange($(this).val(),'@Url.Action("FilteredBarangay","Helper", new {muncityId=""})');">
                                    <option value="">Select City/Municipaliy</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Barangay:
                                </label>
                                <select class="form-control" asp-for="CurrentBarangay" asp-items="ViewBag.Barangay" id="barangays">
                                    <option value="" selected hidden>Select Barangay</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Purok:
                                </label>
                                <input class="form-control" asp-for="CurrentPurok" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Sitio:
                                </label>
                                <input class="form-control" asp-for="CurrentSitio" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Address:
                                </label>
                                <textarea class="form-control" asp-for="CurrentAddress" placeholder="Subdivision/Village/Street"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12" id="patient_address">
                <!-- PERMANENET ADDRESS -->
                <fieldset style="border-color:black; width: 100%; border:double; padding:10px">
                    <legend style="font-size:small;text-align:center">
                        Permanent Address
                    </legend>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" id="sameAddress" asp-for="Disabled" onchange="SameAddressToggle($('#permanent_address'));" onload="DisabledAddress($('#permanent_address'),'@disabled');" />
                            <label for="notavailable">Same as current address</label>
                        </div>
                    </div>
                    <div id="permanent_address">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        City/Municipality:
                                    </label>
                                    <select id="pmuncityFilters"
                                            asp-for="PermanentMuncity"
                                            asp-items="ViewBag.Muncity"
                                            title="City/Municipality"
                                            class="form-control col-sm-12"
                                            onchange="PMuncityOnChange($(this).val(),'@Url.Action("FilteredBarangay","Helper", new {muncityId=""})');">
                                        <option value="">Select City/Municipaliy</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Barangay:
                                    </label>
                                    <select class="form-control" asp-for="PermanentBarangay" asp-items="ViewBag.Barangay" id="pbarangays">
                                        <option value="" selected hidden>Select Barangay</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Purok:
                                    </label>
                                    <input class="form-control" asp-for="PermanentPurok" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Sitio:
                                    </label>
                                    <input class="form-control" asp-for="PermanentSitio" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Address:
                                    </label>
                                    <textarea class="form-control" asp-for="PermanentAddress" placeholder="Sitio/Purok/Subdivision/Village/Street">
                                        </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Contact Number:
                    </label>
                    <input class="form-control" asp-for="ContactNo" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Email Address:
                    </label>
                    <input class="form-control" asp-for="Email" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        PhilHealth ID Number:
                    </label>
                    <input type="text" class="form-control" asp-for="PIN" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        PhilHealth Membership Type:
                    </label>
                    <input type="text" class="form-control" asp-for="PhicMembershipType" />
                </div>
            </div>
            <div class="col-md-12" id="patient_address">
                <!-- EMPLOYED -->
                <fieldset style="border-color:black; width: 100%; border:double; padding:10px">
                    <legend style="font-size:small;text-align:center">
                        Employer Info
                    </legend>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" id="employed" asp-for="Employed" onchange="SameAddressToggle($('#phic_employer_info'));" />
                            <label for="employed">Employed?</label>
                        </div>
                    </div>
                    <div id="phic_employer_info">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Employer Name:
                                    </label>
                                    <input type="text" class="form-control" asp-for="EmployerName" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        PhilHealth Employer Number:
                                    </label>
                                    <input type="text" class="form-control" asp-for="PEN" />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        @if (ViewBag.Errors != null)
        {
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12 center" style="align-content:center">
                    <span class="text-danger text-sm">Please input the required fields.</span>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.Duplicate))
            {
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-12 center" style="align-content:center">
                        <span class="text-danger text-sm">@ViewBag.Duplicate.</span>
                    </div>
                </div>
            }
        }
        @if (!string.IsNullOrEmpty(ViewBag.Duplicate))
        {
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12 center" style="align-content:center">
                    <span class="text-danger text-sm">@ViewBag.Duplicate.</span>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer" style="display: inline-block !important;">
        <button class="btn btn-sm btn-danger fa-pull-left" type="button" data-dismiss="modal">
            Cancel
        </button>
        <button class="btn btn-sm btn-success fa-pull-right" type="submit" >
            Submit
        </button>
    </div>
</form>