@model Sopform

<div class="modal-content" id="new_sop">
    <div class="modal-header">
        <h4>
            <i class="fa fa-user-plus"></i>
            &nbsp;Data Entry
        </h4>
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form asp-action="AddSopModal">
            <input hidden asp-for="PcrResult" value="none" />
            <input hidden asp-for="SampleId" value="none" />
            <input hidden asp-for="PatientId" />
            <div class="row">
                <div class="col-sm-12">
                    <label>Requested By:</label>
                    <input type="text" class="form-control" asp-for="RequestedBy" />
                </div>
                <div class="col-sm-12">
                    <label>Contact number:</label>
                    <input type="text" class="form-control" asp-for="RequesterContact" />
                </div>
                <div class="col-sm-12">
                    <label>Date Onset of Symptoms:</label>
                    <input type="date" class="form-control" asp-for="DateOnsetSymptoms" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Name of Swabber:</label>
                    <input type="text" class="form-control" asp-for="Swabber" />
                </div>
                <div class="col-sm-12">
                    <label>Date & Time of Collection:</label>
                    <input type="datetime-local" class="form-control" asp-for="DatetimeCollection" />
                </div>
                <div class="col-sm-12">
                    <label>Type of Specimen &amp; Collection Medium:</label>
                    <select type="text" class="form-control" asp-for="TypeSpecimen">
                        <option value="" selected hidden>Select Type</option>
                        <option value="NPS IN UTM">NPS IN UTM</option>
                        <option value="OPS IN UTM">OPS IN UTM</option>
                        <option value="NPS/OPS IN UTM">NPS/OPS IN UTM</option>
                        <option value="TRACHEAL ASPIRATE">TRACHEAL ASPIRATE</option>
                    </select>
                </div>
            </div>
            @if (ViewBag.Errors != null)
            {
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-12 center" style="align-content:center">
                        <span class="text-danger text-sm">Please input the required fields.</span>
                    </div>
                </div>
            }
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger fa-pull-left" type="button" data-dismiss="modal">
            Cancel
        </button>
        <button class="btn btn-sm btn-success fa-pull-right" data-action="small_modal" data-save="modal">
            Submit
        </button>
    </div>
</div>

<script>
    $(function () {
        $('.select2').select2()
    })
</script>