
@{
    ViewData["Title"] = "Index";
}

<div class="card card-success card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                Test Results for SARS-CoV-2 Viral RNA Detection by Real Time-Polymerase Chain Reaction
                <br />
                <span class="total_ctr"></span>
            </div>
            <div class="col-md-6">
                <div class="fa-pull-right form-inline ml-3">
                    <!-- INPUT -->
                    <input class="form-control form-control-sm"
                           name="search"
                           id="searchDetail"
                           placeholder="Lastname"
                           type="text"
                           value="@ViewBag.SearchFilter" />
                    <button id="searchPatientBtn" type="button" class="btn btn-sm btn-success">
                        <i class="fa fa-search"></i>
                    </button>
                    <button type="button" id="add-sop"
                            class="btn btn-sm btn-primary"
                            data-toggle="ajax-modal"
                            data-target="#large_modal"
                            data-action="#large_content"
                            data-url="@Url.Action("AddSopModal","Sop")">
                        <i class="fa fa-user"></i>
                        &nbsp;Add User
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>