
@{
    ViewData["Title"] = "Patient List";
}


<div class="content">
    <div class="container">
        <div class="row" style="margin-bottom: 40px;">
            <!-- CARD DANGER -->
            <div class="col-md-3">
                <!-- FILTER -->
                <div class="card card-danger card-green">
                    <!-- CARD DANGER HEADER -->
                    <div class="card-header">
                        <h3 class="card-title">Filter Patients</h3>
                    </div>
                    <!-- CARD DANGER BODY -->
                    <div class="card-body">
                        <div id="filter_card">
                            <form asp-controller="Sop" asp-action="PatientsPartial" method="get" onsubmit="return partialViewGet(this, '#sop_patients');">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="text" id="q" name="q" placeholder="Seach Name..." />
                                </div>
                                <!-- BUTTONS -->
                                <div class="form-group">
                                    <!-- FILTER -->
                                    <button class="btn btn-block btn-sm bg-gradient-success" type="submit">
                                        <i class="fa fa-search"></i>
                                        &nbsp;Filter
                                    </button>
                                    <!-- ADD PATIENT -->
                                    <button type="button"
                                            class="btn btn-block btn-sm bg-gradient-warning"
                                            onclick="showInPopup('@Url.Action("AddPatient", "Sop")', 'def')">
                                        <i class="fa fa-user-plus">
                                            &nbsp;Add Patient
                                        </i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- SEARCH -->
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <!-- PATIENT LIST -->
                <div class="card card-outline" id="patient_card">
                    <!-- DAILY USERS HEADER -->
                    <div class="card-header with-border">
                        <h4>
                            Patient List
                        </h4>
                    </div>
                    <!-- DAILY USERS BODY -->
                    <div class="card-body" id="sop_patients">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    LoadPartialView('#sop_patients', '@Url.Action("PatientsPartial", "Sop")');
</script>