@{ 
    ViewData["Title"] = "Index";
    var dateRange = ViewBag.StartDate + " - " + ViewBag.EndDate;
}

<div class="card card-success card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5>
                    Line List
                    <br />
                    <small>Total Patients: <span class="total_ctr"></span></small>
                </h5>
            </div>
            <div class="col-md-6">
                <form asp-action="SopIndex" method="get" class="fa-pull-right form-inline ml-3" onsubmit="return partialViewGet(this, '#sop_sopindex');">
                    <!-- INPUT -->
                    <input class="form-control form-control-sm bg-white"
                           id="daterange"
                           name="dr"
                           readonly
                           style="cursor:pointer;"
                           type="text"
                           value="@dateRange" />
                    <input class="form-control form-control-sm"
                           name="q"
                           id="searchDetail"
                           placeholder="Search name"
                           value="@ViewBag.Search"
                           type="text" />
                    <button type="submit" class="btn btn-sm btn-success">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body" id="sop_sopindex">
    </div>
</div>

<script>
    LoadPartialView('#sop_sopindex', '@Url.Action("SopIndexPartial", "Sop")');
</script>