

@{
    ViewData["Title"] = "RESU";
}

    <div class="card card-warning card-outline">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h4>
                        SAMPLES SENT FOR CONFIRMATION<br />
                    </h4>
                    <small class="badge bg-gradient-warning">
                        Total: <span id="ctr"></span>
                    </small>
                </div>
                <div class="col-md-6">
                    <form class="fa-pull-right form-inline ml-3" asp-controller="Resu" asp-action="ResuIndexPartial" method="get" onsubmit="return partialViewGet(this, '#resu_resuindex');">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" id="q" name="q" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit" title="Search User">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body" id="resu_resuindex" style="overflow:auto !important;">
        </div>
    </div>

<script>
    LoadPartialView('#resu_resuindex', '@Url.Action("ResuIndexPartial","Resu")');
</script>