

@{
    ViewData["Title"] = "LABORATORY";
}

<div class="card card-warning card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    SAMPLES FOR CONFIRMATION<br />
                </h4>
                <small class="badge bg-gradient-warning">Total: <span class="ctr"></span></small>
            </div>
            <div class="col-md-6">
                <form class="fa-pull-right form-inline ml-3" asp-controller="Result" asp-action="LabIndexPartial" method="get" onsubmit="return partialViewGet(this, '#result_labindex');">
                    <!-- INPUT -->
                    <input class="form-control form-control-sm"
                           id="q"
                           name="q"
                           placeholder="Search name"
                           type="text" />
                    <button id="searchPatientBtn" type="submit" class="btn btn-sm btn-success">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body" id="result_labindex" style="overflow:auto !important;">
    </div>
</div>

<script>
    LoadPartialView('#result_labindex', '@Url.Action("LabIndexPartial","Result")');
</script>