
@{
    ViewData["Title"] = "LABORATORY";
}

<div class="card card-warning card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    SAMPLES FOR CONFIRMATION<br />
                    <small>Total: <span class="total_ctr"></span></small>
                </h4>
            </div>
            <div class="col-md-6">
                <div class="fa-pull-right form-inline ml-3">
                    <!-- INPUT -->
                    <input class="form-control form-control-sm"
                           name="search"
                           id="searchDetail"
                           placeholder="Search name"
                           type="text" />
                    <button id="searchPatientBtn" type="button" class="btn btn-sm btn-success">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="list_lab_conf" style="overflow:auto !important;">
        <div class="overlay d-flex justify-content-center align-items-center">
            <i class="fas fa-2x fa-sync fa-spin"></i>
        </div>
        <br />
        <br />

    </div>
    <div id="lab-index" style="margin: auto; margin-bottom: 20px;"></div>
</div>


<script>
    var vessel = $('#lab-index');
    LoadList('', vessel, '@Url.Action("LabJson","Result")');

    $(function () {
        $('#searchPatientBtn').on('click', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var q = $('#searchDetail').val();
            LoadList(q, vessel, '@Url.Action("LabJson", "Result")');
        });
    })
</script>