


@{
    ViewData["Title"] = "LAB Users";
}

<div class="col-md-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <form class="fa-pull-right form-inline ml-3" asp-controller="Result" asp-action="LabUsersPartial" method="get" onsubmit="return partialViewGet(this, '#result_labusers');">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" id="q" name="q" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit" title="Search User">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="input-group-append">
                        <a class="btn btn-primary" title="Add Staff" onclick="showInPopup('@Url.Action("AddStaff","Result")', 'def')">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </form>
            <h4>LAB STAFF</h4>
            <small class="badge bg-gradient-primary">
                No. Users: <span id="ctr"></span>
            </small>
        </div>
        <div class="card-body" id="result_labusers">
        </div>
    </div>
</div>

<script>
    LoadPartialView('#result_labusers', '@Url.Action("LabUsersPartial","Result")');
</script>