<script>

    var loadingSnippetDiv = "<div class='card card-primary' style='width: 100%' id='spinner_card'><div class='card-header'></div><div class='card-body'></div><div class='overlay' id='spinner_overlay'><i class='fas fa-2x fa-sync fa-spin'></i></div></div>";
    var loadingSnippet = "<div class='overlay' id='spinner_overlay'><i class='fas fa-2x fa-sync fa-spin'></i></div>";

    $(function () {

        $('.readonly').keydown(function (e) {
            e.preventDefault();
        });
        $('#form_modal').on('hidden.bs.modal', function () {
            $('#form_modal .modal-dialog').removeClass('modal-sm');
            $('#form_modal .modal-dialog').removeClass('modal-def');
            $('#form_modal .modal-dialog').removeClass('modal-lg');
            $('#form_modal .modal-dialog').removeClass('modal-xl');
        });
    });

    function Employed(value) {
        value.toggle();
    }

    function LoadViewModal(id) {
        var url = '@Url.Action("ViewResultForm", "Result")';
        $.ajax({
            url: url + "?resultId=" + id,
            tpye: 'get',
            async: true
        });
    }

    function SameAddressToggle(field) {
        field.toggle();
    }

    function DisabledAddress(address, disabled) {
        if (disabled == 'true') {
            address.css("display", "none");
        }
    }

    // PAGINATION
    function LoadAction(url, container) {
        $.ajax({
            url: url,
            async: true,
            beforeSend: function () {
                $('#' + container).parent().append(loadingSnippet);
            },
            success: function (output) {
                $('#spinner_overlay').remove()
                $('#' + container).html(output);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status === 401) {
                    location.reload();
                }
                else {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            }
        });
    }

    function MuncityOnChange(id, url) {
        var barangaysSelect = $('#barangays');
        if (id != '') {
            $.when(GetBarangayFiltered(id, url)).done(function (output) {
                barangaysSelect.empty()
                    .append($('<option>', {
                        value: '',
                        text: 'Select Barangay'
                    }));
                jQuery.each(output, function (i, item) {
                    barangaysSelect.append($('<option>', {
                        value: item.id,
                        text: item.description
                    }));
                });
            });
        }
        else {
            barangaysSelect.empty()
                .append($('<option>', {
                    value: '',
                    text: 'Select Barangay'
                }));
        }
    }

    function PMuncityOnChange(id, url) {
        var barangaysSelect = $('#pbarangays');
        if (id != '') {
            $.when(GetBarangayFiltered(id, url)).done(function (output) {
                barangaysSelect.empty()
                    .append($('<option>', {
                        value: '',
                        text: 'Select Barangay'
                    }));
                jQuery.each(output, function (i, item) {
                    barangaysSelect.append($('<option>', {
                        value: item.id,
                        text: item.description
                    }));
                });
            });
        }
        else {
            barangaysSelect.empty()
                .append($('<option>', {
                    value: '',
                    text: 'Select Barangay'
                }));
        }
    }

    function ProvinceOnChange(id, url) {
        var MuncitySelect = $('#muncityFilters');
        if (id != '') {
            $.when(GetMuncityFiltered(id, url)).done(function (output) {
                MuncitySelect.empty()
                    .append($('<option>', {
                        value: '',
                        text: 'Select City/Municipality'
                    }));
                jQuery.each(output, function (i, item) {
                    MuncitySelect.append($('<option>', {
                        value: item.id,
                        text: item.description
                    }));
                });
            });
        }
        else {
            MuncitySelect.empty()
                .append($('<option>', {
                    value: '',
                    text: 'Select City/Municipality'
                }));
        }
    }

    function SetDisabled(input, attr) {
        input.attr(attr);
    }

    function CheckboxOnChange() {
        var inputOnset = $('#dateOnset');
        if (inputOnset.attr('disabled') == 'disabled') {
            inputOnset.removeAttr('disabled');
            inputOnset.attr("data-val-required", true);
        }
        else {
            inputOnset.val('');
            inputOnset.attr('disabled', true);
            inputOnset.removeAttr("data-val-required");
        }
    }

    function CaclAge(date) {
        var birth = new Date(date);
        var curr = new Date();
        var diff = curr.getTime() - birth.getTime();
        document.getElementById("Patient_Age").value = Math.floor(diff / (1000 * 60 * 60 * 24 * 365.25));
    }

    function GetMuncityFiltered(id, url) {
        var urls = url + '?provinceId=' + id;
        return $.ajax({
            url: urls,
            type: 'get',
            async: true,
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status === 401) {
                    location.reload();
                }
                else {
                    $('body').find('#loadings').modal('toggle');
                    alert(xhr.responseText);
                    alert(thrownError);
                }

            }
        });
    }

    function GetBarangayFiltered(id, url) {
        var urls = url + '?muncityId=' + id;
        return $.ajax({
            url: urls,
            type: 'get',
            async: true,
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status === 401) {
                    location.reload();
                }
                else {
                    $('body').find('#loadings').modal('toggle');
                    alert(xhr.responseText);
                    alert(thrownError);
                }

            }
        });
    }

    function LoadingModal(id) {
        var urls = '@Url.Action("ModalLoading", "Account")';
        return $.ajax({
            url: urls,
            type: 'get',
            async: true,
            success: function (output) {
                $(id).empty();
                $(id).html(output);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status === 401) {
                    location.reload();
                }
                else {
                    $('body').find('#loadings').modal('toggle');
                    alert(xhr.responseText);
                    alert(thrownError);
                }

            }
        });
    }

    //TOAST

    function Toast(message) {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        Command: toastr["success"](message)

    }

    function AddLoading() {
        var loadi = '<div class="d-flex justify-content-center align-items-center" style="position: absolute !important; top: 1; left: 50%"><i class="fas fa-2x fa-sync fa-spin"></i></div>';
        return loadi;
    }

    function LoadPartialView(container, url) {
        $.ajax({
            url: url,
            type: 'GET',
            async: true,
            success: function (output) {
                $(container).html(output);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status === 401) {
                    location.reload();
                }
                else {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            }
        })
    }

    //HELPERS

    //REMOVE SPINNER
    function RemoveSpinner() {
        $('#spinner_overlay').remove();
    }
</script>