
@{
    ViewData["Title"] = "PESU Users";
}

<div class="col-md-12">
    <div class="card card-success card-outline">
        <div class="card-header">
            <form class="fa-pull-right form-inline ml-3" asp-controller="Admin" asp-action="PesuUsersPartial" method="get" onsubmit="return partialViewGet(this, '#admin_pesuusers');">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" id="q" name="q" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit" title="Search User">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="input-group-append">
                        <a class="btn btn-primary" title="Add User" onclick="showInPopup('@Url.Action("Register", "Account", new { level = "PESU" })', 'def')">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </form>
            <h4>PESU Users</h4>
        </div>
        <div class="card-body" id="admin_pesuusers">
        </div>
    </div>
</div>

<script>
    LoadPartialView('#admin_pesuusers', '@Url.Action("PesuUsersPartial","Admin")');
</script>